@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap")

$color1: #b99379
$color3: #02313b
$color4: #f4f4f4
$color5: #b99379
$color6: #b99379
$color7: #f2f2f2

$blue1: #6e99d4
$blue2: #006AFF
$blue3: #61a3ff
$blue4: #3087ff
$blue5: #4895e8
$blue6: #4895e8
$blue7: #bdbdbd

body
  margin: 0
  padding: 0

ol, ul
	list-style: none

a
  text-decoration: none

.dropdown-toggle[aria-expanded=true]:after
  transform: rotate(180deg)
  transition: 0.33s

.dropdown-toggle[aria-expanded=false]:after
  transform: rotate(0deg)
  transition: 0.33s

.imgIcon
  width: 1.3rem
  height: 1.3rem

.dropdown-menu
  width: 100%

.dropdown-button
  width: 100%
  background: $color3
  border-radius: 0 0 3px 3px
  text-align: center
  button
    color: $color3
    background: $color4
    &:hover
      color: $color5

.bedsButtons
  border: 1px solid grey
  transition: 0.23s
  cursor: pointer
  &:hover
    background: $color5
    color: white

.bedsActive
  background: $color6
  color: white

.bedsButtons:nth-of-type(1)
  border-radius: 5px 0 0 5px

.bedsButtons:nth-last-of-type(1)
  border-radius:  0 5px 5px 0

.actualPage
  background-color: $blue6
  color: white
  &:hover
    background: $blue6
    color: white

.hideOnSmall
  display: none

.hamburger
  display: block
  z-index: 3
  position: absolute
  left: 5px
  top: 5px
  cursor: pointer
  padding: 20px
  margin: 5px
  & > *
    width: 35px
    height: 5px
    background: white
    border: 0.5px solid #bdbdbd
    margin: 5px
    border-radius: 3px
    transition: transform 0.33s

.hamburgerActiveDisplay
  display: flex !important

.clickedHamburger
  & > div:nth-child(1)
    transform: rotate(45deg) translate(20%)
  & > div:nth-child(2)
    display: none
  & > div:nth-child(3)
    transform: rotate(-45deg) translate(20%)

.searchClear
  position: absolute
  right: 10px
  top: 6px
  cursor: pointer
  background: white

@media only screen and (min-width: '768px')
  .moveLeft
    left: calc(-140px + 30%)
  .hideOnSmall
    display: flex
  .hamburger
    display: none
