$color1: #b99379
$color3: #02313b
$color4: #f4f4f4
$color5: #b99379
$color6: #b99379
$color7: #f2f2f2

$blue6: #4895e8
/////////// houses /////////////
.list-of-houses
  height: calc(100vh - 45px)
  margin: 0px
  overflow: none

///////// houseItem ///////////
.h-90
  height: 90%

.top-0
  top: 0

.bg-yellow
  background-color: #DEB887
  padding: 0px 5px
  margin: 5px

.border-radius-10
  border-radius: 10px

.face-img
  width: 2.5rem
  height: 2.5rem
  border-radius: 50%

.no-user-selection
  user-select: none

.text-10
  font-size: 11px

#house-details
  width: 100%
  z-index: 2
  display: grid
  grid-template-areas: 'house-username house-username' 'house-address house-price' 'house-beds house-surface'
  font-size: 14px
  align-items: center
  *
    margin: 0 5px
  #house-username
    grid-area: house-username
  #house-address
    grid-area: house-address
  #house-surface
    grid-area: house-surface
  #house-beds
    grid-area: house-beds
  #house-price
    grid-area: house-price

#black-layer-bottom
  background: linear-gradient(transparent 0%, transparent 40%, black 90%)
  opacity: 0.45
  z-index: 1
  width: calc(100% - 30px)
  height: 90%

.actual-page
  background-color: $blue6
  color: white
  &:hover
    background: $blue6
    color: white

.img-icon
  width: 1.3rem
  height: 1.3rem

@media only screen and (min-width: '768px')
  ///////// houses /////////////////
  .list-of-houses
    overflow: auto

  ///////// houseItem /////////
